extends ./common/common.pug
block doms
	form(action="/form/login" method="post" enctype="application/x-www-form-urlencoded")
		p
			span username:
			input(type="text" name="username" class="form-username")
		p
			span password:
			input(type="password" name="password" class="form-password")
		p
			input(type="submit" class="form-submit" value="submit")
			a(href="/form/register")
				input(type="button" class="form-register" value="register")