extends ./common/common.pug
block links
	+_link('../static/src/css/register.css')
block doms
	div.form-container
		h2.title Apply for Membership
		form(action="/form/addUser" method="post" enctype="application/x-www-form-urlencoded")
			p
				span username:
				input(type="text" name="username" class="form-username" placeholder="the username you wanna register")
			p
				span password:
				input(type="password" name="password" class="form-password" placeholder="the password you wanna register")
			p.btn-area
				input(type="submit" class="form-submit" value="register")
				a(href="/form")
					input(type="button" class="form-return" value="return to login")